body,
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  outline: 2px solid green;


}

body {
  font-size: 16px;
  background-color: lightblue;
}

button {
  cursor: pointer;
}

#content {
  height: 100%;


  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 2fr minmax(200px, 1fr);
}

#headerContainer {
  grid-column-start: 1;
  grid-column-end: -1;

  grid-row-start: 1;
  grid-row-end: 2;
  background-color: red;
}

#sideContainer {
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: blue;
  display: flex;
  flex: 2;
  flex-direction: column;
}

#displayCurrentPageContainer {
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: grey;
}

/* Header */


/* Side */

.side {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.topSection {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.todayFolder {
  flex: 0 1 10%;
}

.upcomingFolder {
  flex: 0 1 10%;
}

.folderContainer {
  flex: 1;
}

.bottomSection {
  display: inline-flex;
  flex: 0 1 10%;
}

.addProjectContainer {
  display: inline-flex;
  flex: 1;
}

.addProject {
  flex: 1;
}

/* Main */


.dialogContainer {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 190px;
  height: 50%;
  width: 50%;

  border-radius: 1em;

}

.dialogContainer::backdrop {
  background-color: hsl(250, 100%, 50%, 0.25)
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  padding: 1em;

  border-radius: 1em;
}

.formContainer .form-list {
  margin-bottom: 20px;
}

.formContainer>* {
  flex: 1;
}

.formContainer label {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
}

.formContainer input {
  margin-top: 1em;
  padding: 1em;
  width: 100%;
  font-size: 18px;

  border-radius: 1em;
  border: 5px solid rgb(11, 43, 54);

}

.formContainer .buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.formContainer .buttonsContainer>* {
  flex: 1;
}

.formContainer .cancelButton,
.formContainer .submitButton {
  padding: 1em;
}

.formContainer .cancelButton {
  background-color: red;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 1em;
}

.formContainer .submitButton {
  background-color: green;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 1em;
}

.currentPage {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5em;

  height: 100%;
}

.topRow {
  flex: 1;
}

.middleRow {
  flex: 2;
}

.bottomRow {
  position: absolute;
  margin-left: auto;
  bottom: 20px;
  right: 20px;
}

.addTaskButton {
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 24px;
}