:root {
  --Licorice: #0D0106;
  --Zaffre: #3626A7;
  --Glaucous: #657ED4;
  --Scarlet: #FF331F;
  --Ghost-White: #FBFBFF;
  --Royal-Blue: #00539C;
  --Peach: #EEA47F;
}

body,
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  outline: 2px solid green;

}

body {
  font-size: 16px;
  background-color: lightblue;
}

button {
  cursor: pointer;
}

#content {
  height: 100%;


  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 2fr minmax(200px, 1fr);
}

#headerContainer {
  grid-column-start: 1;
  grid-column-end: -1;

  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--Licorice);
  border: 2px solid var(--Ghost-White);
  color: var(--Ghost-White);
}

#sideContainer {
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: var(--Licorice);
  border: 2px solid var(--Ghost-White);
  display: flex;
  flex: 2;
  flex-direction: column;
}

#displayCurrentPageContainer {
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: var(--Licorice);
  border: 2px solid var(--Ghost-White);
}

/* Header */


/* Side */

.side {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--Ghost-White);
}

.projectsTitle {
  margin-bottom: 5px;
}

.topSection {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.todayFolder {
  flex: 0 1 10%;
  border: 2px solid var(--Ghost-White);

}

.upcomingFolder {
  flex: 0 1 10%;
  border: 2px solid var(--Ghost-White);

}

.folderContainer {
  flex: 1;
  border: 2px solid var(--Ghost-White);

}

.bottomSection {
  display: inline-flex;
  flex: 0 1 10%;
}

.addProjectContainer {
  display: inline-flex;
  flex: 1;
}

.addProject {
  flex: 1;
}

.projects {
  padding: 20px;
}

.liElement {
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 20px;
  background-color: gray;
  color: var(--Ghost-White);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.leftSideElementTab {
  flex: 2;
}

.rightSideElementTab {
  display: flex;
  justify-content: space-between;
  flex: 1;
}


.liElement:hover {
  background-color: var(--Scarlet);
}

/* Main */


.dialogContainer {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 190px;
  height: 50%;
  width: 50%;

  border-radius: 1em;

}

.dialogContainer::backdrop {
  background-color: hsl(250, 100%, 50%, 0.25)
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  padding: 1em;

  border-radius: 1em;
}

.formContainer .form-list {
  margin-bottom: 20px;
}

.formContainer>* {
  flex: 1;
}

.formContainer label {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
}

.formContainer input {
  margin-top: 1em;
  padding: 1em;
  width: 100%;
  font-size: 18px;

  border-radius: 1em;
  border: 5px solid rgb(11, 43, 54);

}

.formContainer .buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.formContainer .buttonsContainer>* {
  flex: 1;
}

.formContainer .cancelButton,
.formContainer .submitButton {
  padding: 1em;
}

.formContainer .cancelButton {
  background-color: red;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 1em;
}

.formContainer .submitButton {
  background-color: green;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 1em;
}

/* Main page*/

.projectContainer {
  height: 100%;
  color: var(--Ghost-White);
  display: flex;
  flex-direction: column;

  flex: 1;
}

.ONLINE {
  display: block;
}

.OFFLINE {
  display: none;
}

.currentPage {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5em;

  height: 100%;
}

.topRow {
  display: flex;
  flex-direction: column;
  flex: 0 1 10%;
  border-bottom: 2px solid var(--Scarlet);

}

.mainTitle {
  font-size: 3rem;
}

.descriptionText {
  font-size: 1.9rem;
}

.topRowSecond {
  display: flex;
  justify-content: space-between;
}

.leftSideSectionItem {
  padding: 20px;
}


.middleRow {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 4px;

  height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}

.noteArea {
  padding: 20px;
  height: 100%;
}



.bottomRow {

  margin-left: auto;
  bottom: 20px;
  right: 20px;
}

.addTaskButton {
  position: absolute;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 24px;

  bottom: 20px;
  right: 20px;
}


/* Item form*/

.itemForm {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 190px;
  height: 50%;
  width: 50%;

  border-radius: 1em;
}

.itemForm::backdrop {
  background-color: hsla(105, 53%, 48%, 0.25)
}

.formContainerItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  padding: 1em;

  border-radius: 1em;
}

.formContainerItem>* {
  flex: 1;
}

.formListItem {
  margin-bottom: 20px;
}

.formListItem label {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
}

/* .formContainerItem input {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
} */

.formListItem input {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
}

.formListItem textarea {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
}

.secondMiddleSection {
  display: flex;
  justify-content: space-around;
}

.secondMiddleSection>* {
  flex: 1;
}

.bottomSectionItem {
  display: flex;
  justify-content: space-around;
}

.bottomSectionItem>button {
  padding: 20px;
}

/* Card Item*/

.cardItemContainer {
  background-color: var(--Peach);
  color: var(--Royal-Blue);
  border-radius: 20px;
  margin: 20px;
  height: 150px;
  border: none;

  position: relative;
  display: flex;
  justify-content: space-between;
}

.priorityTitleSpan {
  position: absolute;
  bottom: 150px;
  background-color: var(--Ghost-White);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
}

.leftSideSectionItem {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  padding: 20px;

  align-items: center;

  background-color: var(--Royal-Blue);
  color: var(--Ghost-White);


}

.topSectionLeftItem {
  flex: 2;
}

.taskSection {
  display: flex;
  flex-direction: column;
}

.middleSectionLeftItem {
  flex: 1;
}

.bottomSectionLeftItem {
  flex: 1;
}

.rightSideSectionItem {
  flex: 2;
}


.editItemForm {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 290px;
  height: 50%;
  width: 50%;
  left: 500px;

  border-radius: 1em;
}